#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-bottom: 2px solid var(--low-grey);
}

#about img {
    border-bottom: 2px solid var(--low-grey);
}

.title {
    font-size: xx-large;
    font-weight: bolder;
    padding: 50px;
    border-bottom: 2px solid var(--low-grey);
}

.content {
    text-align: center;
    max-width: 900px;
    font-size: 18px;
    font-family: 'Mulish',sans-serif;
    font-style: normal;
    padding: 50px;
    font-weight: 400;
    color: #162950;
    line-height: 1.5;
}

.form-wrapper {
    width: 100%;
    text-align: center;
}
.sub-form {
    width: 60%;
    margin: 50px auto;
    display: flex;
    max-width: 700px;
}
.sub-form input { 
    width: 70%;
    max-width: 500px;
    height: 50px;
    line-height: .8rem;
}

#sub-btn {
    flex-grow: 1;
    height: 50px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    line-height: 3rem;
}