#my-cart {
    text-align: center;
}
.order-item-wrapper{
    margin: 30px auto;
}
.order-item {
    position: relative;
    margin: auto;
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--mid-grey);
}
.order-item:hover {
    background-color: var(--low-grey);
}
.order-item-wrapper .order-item:not(:first-child) {
    border-top: none;
}
.delete-btn {
    position: absolute;
    background-color: var(--low-grey);
    width: 30px;
    height: 30px;
    top: 0px;
    right: 10px;
    line-height: 2rem;
    cursor: pointer;
}
.delete-btn:hover {
    background-color: black;
    color: whitesmoke;
}
.order-item-img {
    width: 100px;
}
.order-item-img img {
    width: 100%;
    height: fit-content;
}
.order-item-name {
    flex-basis: 40%;
}
.order-item-size, .order-item-quantity, .order-item-amount{
    height: 100px;
    line-height: 2.8rem;
    margin: 15px;
    background-color: transparent;
}
#my-cart label, #my-cart h4 {
    background-color: transparent;
}

#my-cart ,.order-item select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid var(--mid-grey);
}
#my-cart .order-item input {
    width: 40px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#my-cart h1 {
    font-family: 'Indie Flower', cursive;
}
.order-item-wrapper #total-amount {
    font-size: large;
    font-family: 'Bree Serif', serif;
    margin: 50px;
}
#order-btn {
    width: 250px;
    height: 50px;
    border: 2px solid black;
    line-height: 2.8rem;
    margin: auto;
    cursor: pointer;
}
#order-btn:hover {
    background-color: black;
    color: whitesmoke;
}
#total-amount {
    font-size: 1.5rem;
}
/* Responsive */
@media screen and (max-width: 1201px){}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 768px){}
@media screen and (max-width: 480px){
    .order-item {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .order-item-img {
        width: 80px;
    }
    .order-item-name {
        font-size: 1rem;
        flex-basis: 75%;
    }
}