
#space {
    position: relative;
    width: 100%;
    height: 68vh;
    background-image: url("/public/assets/background1.jpg");
    background-position: 70%;
    background-size: cover;
    background-repeat: no-repeat;
}
#slogan {
    position: absolute;
    background-color: transparent;
    left: 10%;
    top:20%;
    font-size: 2.5rem;
    color: #414141;
    /* color: rgb(56, 57, 58); */
    font-family: 'Permanent Marker', cursive;
}
#main-btn {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 50%;
    left: 20%;
    background-color: transparent;
    border: 2px solid black;
    line-height: 2.5rem;
    font-size: 1rem;
    cursor: pointer;
}
#main-btn:hover {
    background-color: black;
    color: white;
}
.collection-wrapper {
    text-align: center;
}
.collection-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.collection-container:last-child{
    margin-bottom: 0;
}
.reverse {
    flex-direction: row-reverse;
}
.collect-img {
    flex-basis: 42%;
}
.collect-img img {
    width: 100%;
}
.collect-event {
    flex-basis: 42%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.collect-event h1 {
    text-align: center;
    padding: 0 0 2rem;
    font-family: 'Bree Serif', serif;
}
.collect-event p {
    line-height: 2rem;
    font: 2.2rem;
    text-align: center;
}
.shop-btn {
    margin-top: 20px;
    width: 120px;
    height: 45px;
    background-color: black;
    border-radius: 100px;
    color: white;
    line-height: 2.5rem;
    cursor: pointer;
}
.shop-btn:hover {
    opacity: .6;
}
/* Responsive */
@media screen and (max-width: 1201px){}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 768px){}
@media screen and (max-width: 480px){
    .reverse {
        flex-direction: row;
    }
    .collect-img, .collect-event {
        flex-basis: 90%;
    }
    .collect-event {
        border-bottom: 2px solid var(--low-grey);
    }
    .collection-container:last-child .collect-event {
        border: none;
    }
}