@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
/* font-family: 'Righteous', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Sofia', cursive; */
/* font-family: 'Mulish', sans-serif;
font-family: 'Permanent Marker', cursive;
linear-gradient(#CFD6E6, #000) */
:root {
    --back-color: white;
    --low-grey: rgba(109,109,109,.3);
    --mid-grey: #6d6d6d;
}
html, body, * {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--back-color);
    font-family: 'Mulish', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: inherit;
}
.alert-added {
    width: 250px;
    height: 250px;
    margin-top: -125px;  
    margin-left: -125px;
    background-image: url("../public/assets/success.png");
}
.alert-deleted {
    width: 400px;
    height: 250px;
    margin-top: -125px; 
    margin-left: -200px;
    background-image: url("../public/assets/broken.png");
}
.alert-warning {
    width: 300px;
    height: 300px;
    margin-top: -150px; 
    margin-left: -150px;
    background-image: url("../public/assets/warning.png");
}
.alert-added, .alert-deleted, .alert-warning {
    position: fixed;
    top: 50%;
    left: 50%; 
    background-position: center;
    background-size: cover;
    font-size: 1.5rem;
    border-radius: 10px;
    font-family: 'Bree Serif', serif;
    border: 1px solid var(--mid-grey);
}
