@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
/* font-family: 'Righteous', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Sofia', cursive; */
/* font-family: 'Mulish', sans-serif;
font-family: 'Permanent Marker', cursive;
linear-gradient(#CFD6E6, #000) */
:root {
    --back-color: white;
    --low-grey: rgba(109,109,109,.3);
    --mid-grey: #6d6d6d;
}
html, body, * {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--back-color);
    font-family: 'Mulish', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: inherit;
}